@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/violet.css';
@import '@radix-ui/colors/mauve.css';

/* reset */
.container {
    height: 100vh;
    width: 100vw;
}

input,
textarea,
button {
    all: unset;
    box-sizing: border-box;
}

.Card {
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.FormRoot {
    width: 25vw;
    min-width: 260px;
}

.FormField {
    display: grid;
    width: auto;
}

.FormLabel {
    font-size: 15px;
    font-weight: 500;
    line-height: 35px;
    color: black;
}

.FormMessage {
    font-size: 13px;
    color: black;
    opacity: 0.8;
}

.Input,
.Textarea {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

    font-size: 15px;
    color: black;
    background-color: var(--black-a5);
    box-shadow: 0 0 0 1px var(--black-a9);
}

.Input:hover,
.Textarea:hover {
    box-shadow: 0 0 0 1px black;
}

.Input:focus,
.Textarea:focus {
    box-shadow: 0 0 0 2px black;
}

.Input::selection,
.Textarea::selection {
    background-color: var(--black-a9);
    color: black;
}

.Input {
    padding: 0 10px;
    height: 35px;
    line-height: 1;
}

.Textarea {
    resize: none;
    padding: 10px;
}

.Button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
    height: 35px;
    width: 100%;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.Button:hover {
    background-color: purple;
    cursor: pointer;
}

.Button:active {
    color: lightgray;
    cursor: pointer;
}

/* SIGNUP FORM */

